.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-container input,
.form-container textarea {
  padding: 1.3rem;
  border-radius: .6rem;
  border: 2px solid var(--white);
  background-color: transparent;
  font-size: 1.8rem;
  width: 100%;
  margin: 1rem auto;
  color: var(--white);
}

.error {
  font-family: var(--secondaryTextFont);
  color: #e3b735;
}

.error i {
  margin-right: .3rem;
}

.form-container input::placeholder,
.form-container textarea::placeholder{
  color: var(--white);
}

@media (min-width: 768px) {
  .form-container {
    width: 90%;
  }

  .form-container input,
  .form-container textarea {
    width: 100%;
  }
}
