.container {
  margin-bottom: 5rem;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}

.title h1 {
  margin: 7rem 0 2rem;
  padding: 0;
}

.info {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.info p {
  margin: 0;
  padding: 0 0 3rem 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .info {
    font-size: 2rem;
  }
}

.logic-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  border-radius: .8rem;
  padding: 1rem;
  border: .3rem solid rgba(255, 255, 255, .7);
}

.logic-container input,
.logic-container textarea {
  padding: 1.3rem;
  border-radius: .6rem;
  border: 2px solid var(--white);
  background-color: transparent;
  font-size: 1.8rem;
  width: 100%;
  margin: 1rem auto;
  color: var(--white);
}

.logic-container input::placeholder,
.logic-container textarea::placeholder{
  color: var(--white);
}

.btn {
  width: 100%;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .logic-container {
    max-width: 80%;
  }
  .logic-container input,
  .logic-container textarea {
    width: 65%;
  }
  .btn {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .logic-container {
    max-width: 50%;
  }
}

.buttons {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
}

.buttons {
  width: 100%;
}

@media (min-width: 768px) {
  .buttons {
    width: 100%;
  }
}

.canvas {
  background: rgb(108,105,168);
  background: linear-gradient(196deg, rgba(108,105,168,1) 38%, rgba(79,134,148,1) 78%, rgba(37,123,140,1) 100%);
  margin: .6rem auto;
  width: 100%;
  padding: 3rem 2rem;
  height: auto;
  min-height: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .canvas {
    padding: 3rem;
    width: 90%;
  }
}

/*Spinner*/

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
