<div class="container">
  <div class="title">
    <h1>AI Reviews</h1>
  </div>
  <div class="info">
<!--    <p>Create a review of a place with AI, start typing to start!.</p>-->
    <p>¡Crea en segundos reseñas de restaurantes con Inteligencia Artificial!</p>
  </div>
  <div class="logic-container">
    <app-review-form [reviewForm]="reviewForm"></app-review-form>
    <button class="btn btn-outline-primary" (click)="sendReview()" [disabled]="isResponding === true">Generar reseña</button>
    <div class="canvas" #canvas *ngIf="finalReview?.length">
      <app-canva [finalReview]="finalReview"></app-canva>
    </div>
    <div class="buttons" *ngIf="finalReview?.length">
<!--      <button class="btn btn-outline-primary">Copy Text</button>-->
      <button class="btn btn-outline-primary" (click)="captureReview()">Guardar como imagen</button>
    </div>
  </div>

  <div class="spinner" *ngIf="isResponding">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
